/* Universal */
:root {
    --maincolor: #CBA135;
    --color2: #E2E2E2;
    --color3: #d7d7da;
    --textcolor: #1C0F13;
    --accentcolor: #00A676;
}

* {
    box-sizing: border-box;
    color: var(--textcolor);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
}

body {
    padding-top: 40px;
    background-color: var(--color2)
}

h2 {
    font-size: clamp(2rem, 3vw, 6rem);
    padding-bottom: 1rem;
    color: var(--maincolor);
}

section {
    padding-top: clamp(2rem, 4vw , 3rem);
    padding-bottom: clamp(5rem, 8vw , 7rem);
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: clamp(3rem, 6vw, 6rem)
}

.wave .shape-fill {
    fill: var(--color3);
}

.wave .shape-fill-dark {
    fill: var(--color2);
}

img, input, textarea {
    border-radius: 20px;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
    background-color: var(--maincolor);
    color: var(--color2);
}

nav span {
    padding-left: 5px;
}

nav span, nav a, nav a:visited {
    color: var(--color2)
}

nav a:hover {
    color: var(--accentcolor);
} 

nav ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
    padding-left: 10px;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 20px;
}



/* Hero Banner */
#greeting-banner {
    background-color: var(--maincolor);
    justify-content: space-around;
}

#greeting-banner img {
    min-width: 150px;
    max-width: 45%;
    height: auto;
    padding: clamp(.5rem, 2vw, 5rem);
    border-radius: 50px;
}

h1 {
    color: var(--accentcolor);
    font-size: 6vw;
    font-size: clamp(2.2rem, 5vw, 8rem);
}

#greeting-banner h1 {
    text-align: center;
}

/* About Me */
#about-me-container {
    justify-content: center;
}

#about img {
    min-width: 90px;
    max-width: 25%;
    height: auto;
    float: right;

}

#about p {
    text-align: left;
    padding-left: 1.5rem;
}

/* Projects */
#projects {
    background-color: var(--color3);
}

.project-container {
    text-align: center
}

.project-container img {
    max-width: min(85%, 400px);
    height: auto;
    margin: auto;
}

.project-container > * {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 600px)  {
    #all-projects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5%;
        width: 75%;
        margin: auto;
        justify-items: center;
    
    }
}

/* Skills */

#fe-skills-container,
#be-skills-container,
#ot-skills-container {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

#skills-grid > * {
    padding-top: 15px;
    padding-bottom: 15px;
}

#skills-grid i {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
}

#skills-grid i.devicon-nodejs-plain-wordmark {
    font-size: clamp(3rem, 12vw, 5rem);
}

@media (min-width: 600px)  {
    #frontEnd-header {
        grid-area: fe-head;
    }
    
    #backEnd-header {
        grid-area: be-head;
    }
    
    #otherTools-header {
        grid-area: ot-head;
    }
    
    #fe-skills-container {
        grid-area: fe-skills;
    }
    
    #be-skills-container {
        grid-area: be-skills;
    }
    
    #ot-skills-container {
        grid-area: ot-skills;
    }

    #skills-grid {
        display: grid;
        grid-template-areas: 
        'fe-head be-head ot-head'
        'fe-skills be-skills ot-skills';
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr;
        justify-content: center;
        justify-items: center;
    }

    #fe-skills-container,
    #be-skills-container,
    #ot-skills-container {
    display:flex;
    justify-content: space-around;
    width: 100%;
    }
}

/* Contact Me */
#contact_me {
    background-color: var(--color3);
}

#form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}
textarea {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type='submit'] {
    background-color: var(--accentcolor);
    color: var(--color2);
    border: 1px solid var(--maincolor);
}

input, textarea {
    text-align: start;
}

/* Footer */
footer {
    background-color: var(--maincolor);
    display: flex;
    justify-content: space-around;
    min-height: 40px;
}

footer h4 {
    color:var(--color2)
}

